.gradle/
build/
**/build/
**/.gradle/
!gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties

*.local
*.bak
*.back
*.keep
*.repo

.idea/
*.iml
*.ipr
*.iws
*.log
.vscode/
*.swp

.DS_Store

bin

logs/
*.log

.env
.env.*
**/.env*
!.env-sample

*.jar
*.war
*.ear

.spring-boot-devtools.properties
